@using SFA.DAS.FAT.Web.Models.Filters.Abstract
@using SFA.DAS.FAT.Web.Models.Filters.FilterComponents
@model AccordionFilterSectionViewModel

<div class="govuk-accordion govuk-accordion-hide-controls" data-module="govuk-accordion">
    @foreach (FilterSection child in @Model.Children)
    {
        @await Html.PartialAsync("_accordionSection", child)
    }
</div>