@model SFA.DAS.FAT.Web.Models.Shared.AchievementsAndParticipationViewModel

<h3 class="govuk-heading-m govuk-!-margin-bottom-5">
    Course achievements and participation
</h3>

@await Html.PartialAsync("_achievementsAndParticipationCard", Model)

<div class="govuk-inset-text govuk-!-margin-top-3">
    Course-level data collected by the Department for Education.
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
