@using Microsoft.Extensions.Options
@using SFA.DAS.FAT.Domain.Configuration
@using SFA.DAS.FAT.Web.Models
@model SFA.DAS.FAT.Web.Models.IGetHelpFindingCourseViewModel
@inject IOptions<FindApprenticeshipTrainingWeb> ConfigOptions;

@if (Model.CanGetHelpFindingCourse(ConfigOptions.Value))
{
    <div class="govuk-inset-text">
        <p class="govuk-body">
            If the training providers listed are not suitable or there are none listed, we can ask training providers if they can run @Model.TitleAndLevel. If a training provider can offer the course, we’ll send you their contact details.
        </p>
        <p class="govuk-body">
            You can use this service if you employ apprentices. You’ll need to be signed in to your apprenticeship service account.
        </p>
        <a href="@Model.GetHelpFindingCourseUrl(ConfigOptions.Value)" class="govuk-link govuk-link--no-visited-state" id="share-interest">Ask if training providers can run this course</a>.
    </div>
}