<section class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Learn about the training we offer
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            We’ve created guidance to help you decide which type of training is right for your business. Find out more about
            <a class="govuk-notification-banner__link" href="#" target="_blank" rel="noopener noreferrer">how they’re funded, what their benefits are and who is eligible</a>.
        </p>
    </div>
</section>