@using SFA.DAS.FAT.Domain.Extensions
@model SFA.DAS.FAT.Web.Models.Shared.ProviderRatingViewModel

<p class="govuk-!-margin-0 govuk-!-margin-top-2 govuk-!-font-size-16">
    @if (Model.StarsValue > 0)
    {
        <span class="das-rating das-rating--@Model.RatingGroup" role="img" aria-label="Rating: @Model.StarsValue out of 4 stars">
            <span aria-hidden="true" class="das-rating__icon-star"></span>
            <span aria-hidden="true" class="das-rating__icon-star@(Model.StarsValue < 2 ? "--empty" : "")"></span>
            <span aria-hidden="true" class="das-rating__icon-star@(Model.StarsValue < 3 ? "--empty" : "")"></span>
            <span aria-hidden="true" class="das-rating__icon-star@(Model.StarsValue < 4 ? "--empty" : "")"></span>
            <span class="das-rating__label--@(Model.ProviderRating)">@Model.ProviderRating.GetDescription()</span>
            <span class="das-text--muted">(@Model.TotalMessage)</span>
        </span>
    }
    else
    {
        <span class="govuk-body">No @Model.ProviderRatingType.GetDescription() reviews</span>
    }
</p>