@model Tuple<string, string, string>

<h4 class="das-filter__selected-sub-heading">@Model.Item1</h4>
<a asp-querystring="@Model.Item2"
   title="Clear this filter '@Model.Item3'"
   class="das-filter__tag das-breakable">
    @Model.Item3
</a>