@using SFA.DAS.FAT.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a id="home-breadcrumb" class="govuk-breadcrumbs__link" asp-route="@RouteNames.SearchCourses">Search</a>
        </li>
    </ol>
</div>