

  .mcKey1 {
    text-align: left; 
    margin-left:0; 
    border-left-color: #28a197;  
    padding-top:3px; 
    padding-bottom:3px;
  }

  .mcKey2 {
    text-align: left; 
    margin-left:0; 
    margin-bottom:50px; 
    border-left-color: #d53880;  
    padding-top:3px; 
    padding-bottom:3px;
  }

  mcBar1 {
    color: black;  
    margin-bottom:0;  
    background-color:#28a197; 
    padding-top:3px; 
    padding-bottom:3px;
  }

  .mcBar2 {
    color: black; 
    margin-bottom:5px;  
    background-color:#d53880; 
    padding-top:3px; 
    padding-bottom:3px;
  }

  .mcSpan {
    color: black; 
    margin-left: 100%;
  }

  .hrSpan {
    margin-top:0; 
    margin-bottom:0; 
    opacity: 0.5;
  }

  .hrMarg {
    margin-top:0; 
    margin-bottom:0; 
    opacity: 0.5;
  }

  .mcAttr {
    font-size: 14px;
  }

  .feedbackTable{
    display: none;
  }

  .divMctHead {
    white-space: nowrap;
  }