@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models
@model SFA.DAS.FAT.Web.Models.SelectTrainingProviderViewModel
@{
    ViewData["Title"] = "Search for a training provider";
    ViewData["Description"] = $"Search for a training provider";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_validationSummary" />
            <form asp-route="@RouteNames.SelectProvider" method="POST">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Search for a training provider
                            </h1>
                        </legend>
                        <input asp-for="Name" id="Name" type="hidden" />
                        <input asp-for="Ukprn" id="Ukprn" type="hidden" />
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="SearchTerm">
                                Search for a training provider by name or UK provider reference number (UKPRN).
                            </label>
                            <p class="govuk-hint">Start typing the provider's name or UKPRN</p>
                            <span asp-validation-for="SearchTerm" class="govuk-error-message"></span>
                                <input id="SearchTerm" type="text"
                                       asp-for="SearchTerm" class="govuk-input" sfa-validationerror-class="form-control-error" data-module="autoComplete" />
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                </div>
            </form>
        </div>
    </div>
</main>