@using Humanizer
@using Microsoft.Extensions.Options
@using SFA.DAS.FAT.Domain.Configuration
@using SFA.DAS.FAT.Domain.Extensions
@model SFA.DAS.FAT.Web.Models.CourseViewModel
@inject IOptions<FindApprenticeshipTrainingWeb> ConfigOptions;

@{
    ViewData["Title"] = $"{Model.TitleAndLevel} - apprenticeship training course";

    ViewData["Description"] = $"Employers can view details of the {Model.TitleAndLevel} apprenticeship training course, including its qualification level, typical duration and the maximum funding available.";
}
<div asp-show="@(!Model.IsActiveAvailable)">
    <partial name="_standardNotAcceptingNewApprenticesBanner" />
</div>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <strong class="govuk-!-margin-bottom-4 govuk-tag @Model.LearningTypeTagClass app-tag">
                @Model.LearningType.GetDescription().Singularize()
            </strong>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">@Model.TitleAndLevel</h1>
        </div>
    </div>
    @await Html.PartialAsync("_courseProviderAvailability", Model)
    @await Html.PartialAsync("_courseInformationSummary", Model)
</main>