@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models
@model SFA.DAS.FAT.Web.Models.SearchCoursesViewModel
@{
    ViewData["Title"] = "Search for apprenticeship training courses and training providers";
    ViewData["Description"] = "Search for apprenticeship training courses and training providers";
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                Search for apprenticeship training courses and training providers
            </h1>
            <p class="govuk-body">
                Search for a training course or training for a job. We'll show you a list of relevant and
                similar courses and training providers that run them. You can also enter the apprentice's work
                location
                to find providers near that location.
            </p>
            <p class="govuk-body">
                If you want to find a specific training provider, you can <a asp-route="@RouteNames.SelectProvider"
                    class="govuk-link govuk-link--no-visited-state">search for a training provider</a>
            </p>
        </div>
    </div>

    <div class="app-home-panel">

        <form asp-route="@RouteNames.SearchCourses" method="POST">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="CourseTerm">Course</label>
                        <p class="govuk-hint">Enter the name of a course, job or standard (optional)</p>
                        <input id="CourseTerm" name="CourseTerm" type="text" asp-for="CourseTerm" class="govuk-input"
                            sfa-validationerror-class="form-control-error" />
                    </div>

                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="search-location">Apprentice's work
                            location</label>
                        <p class="govuk-hint">Enter the city or postcode where the apprentice will work (optional)</p>
                        <input type="search" id="search-location" name="location" title="Search work locations"
                            class="govuk-input" data-submit-on-selection="true">
                    </div>
                </div>
            </div>
            <div class="govuk-button-group govuk-!-margin-bottom-0">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Search</button>
                <a asp-route="@RouteNames.Courses" class="govuk-link govuk-link--no-visited-state">Browse all
                    courses</a>
            </div>
        </form>
    </div>
</main>
