@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Domain.Configuration
@model SFA.DAS.FAT.Web.Models.SearchCoursesViewModel
@{
    ViewData["Title"] = "Search for apprenticeship training courses and training providers";
    ViewData["Description"] = "Search for apprenticeship training courses and training providers";
}
@{
    await Html.RenderPartialAsync("_learnAboutTrainingOfferBanner");
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                Find training if you’re an employer
            </h1>
            <h2 class="govuk-heading-m">Employers can use this service to find training for their employees.</h2>
            <p class="govuk-body">
                Search by location or course type to compare apprenticeships, foundation apprenticeships and apprenticeship units. You can also filter by training type
            </p>
            <p class="govuk-body">
                If you want to find a specific training provider, you can
                <a asp-route="@RouteNames.SelectProvider"
                   class="govuk-link govuk-link--no-visited-state">search for a training provider</a>
            </p>
        </div>
    </div>

    <div class="app-home-panel">

        <form asp-route="@RouteNames.SearchCourses" method="POST">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="CourseTerm">Course</label>
                        <p class="govuk-hint">Enter a job role, course name or subject area (optional)</p>
                        <input id="CourseTerm" name="CourseTerm" type="text" asp-for="CourseTerm" class="govuk-input"
                               sfa-validationerror-class="form-control-error"/>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="search-location">
                            Learner’s work location</label>
                        <p class="govuk-hint">Enter the city or postcode where the learner will work (optional)</p>
                        <input type="search" id="search-location" name="location" title="Search work locations"
                               class="govuk-input" data-submit-on-selection="true">
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="TrainingType">Training type</label>
                        <p class="govuk-hint">
                            Select all training types that apply (optional). If you’re not sure which is right for your business, find out more about the training we offer 
                            <a class="govuk-link" href="@Constants.ApprenticeshipBusinessGuidanceUrl" target="_blank" rel="noopener noreferrer">find out more about the training we offer</a>.
                        </p>
                        @await Html.PartialAsync("_checkboxList", Model.TrainingTypesCheckboxListItems)
                    </div>
                </div>
            </div>

            <div class="govuk-button-group govuk-!-margin-bottom-0">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Search</button>
                <a asp-route="@RouteNames.Courses" class="govuk-link govuk-link--no-visited-state">Browse all
                    courses</a>
            </div>
        </form>
    </div>
    <p class="govuk-body govuk-!-margin-top-6">
        If you’re looking to become an apprentice yourself, visit
        <a class="govuk-link govuk-link--no-visited-state" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank" rel="noopener noreferrer">Find an apprenticeship</a>.
    </p>

</main>
