@using Microsoft.Extensions.Options
@using SFA.DAS.FAT.Domain.Configuration
@using SFA.DAS.FAT.Web.Models
@model ShortlistItemViewModel
@inject IOptions<FindApprenticeshipTrainingWeb> ConfigOptions

@if (ConfigOptions.Value.EmployerDemandFeatureToggle)
{
    <p class="govuk-body>">
        <strong>Can't find a training provider?</strong>
        <br />
        We can let other training providers know you are interested in @Model.TitleAndLevel.
    </p>
    <a href="@Model.GetHelpFindingCourseUrl(ConfigOptions.Value)" class="govuk-button govuk-!-margin-bottom-0">Share interest</a>
}
else
{
    @if (Model.CanGetHelpFindingCourse(ConfigOptions.Value))
    {
        <div class="das-highlight">
            <h2 class="govuk-heading-m">
                If you cannot find a suitable training provider
            </h2>
            <p class="govuk-body">
                If the training providers listed are not suitable, we can ask training providers if they can run @Model.Course.TitleAndLevel. If a training provider can offer the course, we'll send you their contact details.
            </p>
            <p class="govuk-body">
                You can use this service if you employ apprentices. You'll need to be signed in to your apprenticeship service account.
            </p>
            <p class="govuk-!-margin-0">
                <a href="@Model.GetHelpFindingCourseUrl(ConfigOptions.Value)" class="govuk-button das-button--blue govuk-!-margin-0">Ask if training providers can run this course</a>
            </p>
        </div>
    }
}