@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models.Shared.Components

@model ShortlistsLinkComponentViewModel

<div id="ShortlistsCountContainer">
  <a id="header-view-shortlist" asp-route="@RouteNames.ShortLists"
      class="govuk-body govuk-link govuk-link--no-visited-state app-view-shortlist-link">
      View shortlist <span class="app-view-shortlist-link__number" aria-hidden="true">@Model.Count</span>
  </a>
</div>
